<div class="newExpense">
<form action="/home/{{User._id}}" method="post">
    <span>New Expense: </span>
    <input type="text" class="inputs"name="value" value="" placeholder="Amount">
    <input type="text" class="inputs"name="category" value="" placeholder="Category">
    <input type="text" class="description inputs" name="description" placeholder="What is this expense for?"></textarea>
    <button type="submit" class="submit" name="expense">Submit</button>
</form>
</div>
