<div class="post-container">
    <a href="/posts/{{this.id}}">
        <img class="post-content" src="{{this.imageRoute}}">
    </a>

    {{#each this.intrests}}
    <p>{{this}}</p>
    {{/each}}

    <p class="post-description">{{this.description}}</p>
</div>
