        <div class="homeContainer">
            <div class="nav">{{>nav}}</div>
            <!-- need total and budgeting -->
            <div class="totals">
                <!-- calculate total spent and spending per category -->
            </div>
            <div class="budget">
                <!-- save budget info and categorized -->
            </div>
            <div class="addExpense">
                {{> expense-form}}
            </div>
            <div class="expenses">
                {{#each expense}}
                {{> expense}}
                {{/each}}
            </div>
        </div>
