        <div class="homeContainer">
            <div class="nav">{{>nav}}</div>
            <div class="addExpense">
                {{> expense-form}}
            </div>
            <div class="expenses">
                {{#each expense}}
                {{> expense}}
                {{/each}}
            </div>
        </div>
